<!DOCTYPE html>

<html>
    <head>
        
        <style>
      img { 
         width:100%; 
          }
        </style>
    </head>
    
    <body>
      <%= link_to 'Home', root_path %>
      
        <h2 style="text-align:center">About Page</h2>
        <img src="http://abpdevsolutions.com/images/service-01.png" style="height:720px;">
        <h4><p style="text-align:center;">This is Alpha Page. The Purpose of this blog is to share thoughts about Rails. </p></h4>
        
        
    </body>    
    
</html>
