<!DOCTYPE html>

<html>
    <head>
        <title>Alpha-Blog</title>
        <style>
      img { 
         width:100%; 
          }
        </style>
    </head>
    <body style="background-color:">
        <%= link_to 'About', about_path %>
        <h2 style="text-align:center">Alpha Blog</h2>
        <img src="http://www.qbitvortex.com/images/pages/webdevelopment.jpg" style="height:720px;">
        <h4><p style="text-align:center;">This is Alpha Blog. The Purpose of this blog is to share thoughts about Rails. </p></h4>
        
        
    </body>    
    
    
    
</html>